.mtop{
    margin-top: 5px;
  }
  
  .wtext{
    color: white !important;
  }
  
  .marginr{
    margin-right: 5px;
  }
  .pointer{
    cursor: pointer;
  }

  .shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }

  